@media (max-width: 700px) {
  #greeting {
    font-size: 20px;
    font-weight: 400;
  }
  #clock {
    font-size: 60px;
  }
  #date {
    font-weight: 400;
  }
  #quote {
    font-size: 20px;
  }
  #weather {
    font-size: 12px;
  }
}
