#quote,
#author {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  /* padding-top: 80px; */
}

#quote {
  /* margin-top: 50px; */
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-decoration-thickness: 1px;
  margin-top: 100px;
}

#author {
  padding-top: 10px;
  margin-bottom: 0px;
}
